# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Environment
# =========================
.env
.env.*

# =========================
# Composer
# =========================
/vendor/

# =========================
# Node
# =========================
node_modules/
npm-debug.log*
yarn-error.log*

# =========================
# Logs
# =========================
*.log

# =========================
# CodeIgniter writable (IMPORTANT)
# =========================
writable/*
!writable/.htaccess

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Temp
# =========================
*.tmp
*.swp
