# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.*

# Composer
/vendor/

# Node
node_modules/
npm-debug.log*
yarn-error.log*

# Logs
*.log
writable/logs/
writable/debugbar/

# Cache & Session
writable/cache/
writable/session/

# Uploads (optional, aktifkan kalau upload dinamis)
writable/uploads/

# IDE
.vscode/
.idea/

# CI / temp
*.tmp
*.swp
